@{
    ViewBag.Title = "Index";
}

<h1>Chat</h1>

<div id='chat'></div>
<input type='text' placeholder='type a username' id='user' />
<input type='text' placeholder='type a msg' id='msg' />
<a href='#' class='btn btn-success' id='post'>post</a>